<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien1" class="com.priyanshi.Alien" scope="prototype">-->
<!--    </bean>-->

    <bean id="alien1" class="com.priyanshi.Alien">

        <property name="age" value="46"></property>
    </bean>

<!--    <bean id="alien2" class="com.priyanshi.Alien">-->
<!--    </bean>-->

    <bean class="com.priyanshi.Laptop">

</bean>
</beans>